html,body{
	heigh: 100%;
}
body {
	-webkit-animation: fadeIn 3.5s ease-in-out;
-moz-animation: fadeIn 3.5s ease-in-out;
-o-animation: fadeIn 3.5s ease-in-out;
animation: fadeIn 3.5s ease-in-out;
width: 1300px;
min-height: 100%;
margin-left: 0px;
margin-right: 0px;
background: white;
background-repeat: no-repeat;
background-attachment: fixed;
-webkit-background-size: cover; 
-o-background-size: cover; 
-moz-background-size: cover; 
background-size: cover; 

}

#geral {
	min-height:100%;
	position:relative;
	width:100%;


}

#titulo {
border: 1px solid black;
background: url("../fundo.png");
padding-top: 10px;
margin-left: 20px;
-webkit-background-size: cover; 
-o-background-size: cover; 
-moz-background-size: cover; 
border-radius: 5px;
-webkit-animation: fadeIn 3.5s ease-in-out;
-moz-animation: fadeIn 3.5s ease-in-out;
-o-animation: fadeIn 3.5s ease-in-out;
animation: fadeIn 3.5s ease-in-out;
}

#aulas img,#palestras img {
	border: 1px solid black;
	border-radius: 15px;
}

#titulo h1{
height: 70px;
margin: 20px;
margin-bottom: 1px;
padding: 20px;
text-align: center;
background: url('../logos/logo_mini3.png') no-repeat 550px -40px;
font-family: "Copperplate Gothic";
font-weight: bold;
font-size: 45;
color: rgb(204,170,51);


}
#titulo p{
margin-bottom: 1px;
text-align: center;
font-family: "Lucida Handwriting";
font-size: 20;
padding-bottom: 5px;
color: rgb(204,170,51);
}

#menu {
background-color: white;
font-family: "Copperplate Gothic";
font-size: medium;
font-weight: bold;
margin: 10px;
margin-left: 150px;
margin-right: 150px;
margin-bottom: 10px;
padding: 3px;
border: solid 1px black;
border-radius: 5px;
	-webkit-animation: fadeIn 2.5s ease-in-out;
-moz-animation: fadeIn 2.5s ease-in-out;
-o-animation: fadeIn 2.5s ease-in-out;
animation: fadeIn 2.5s ease-in-out;

}


#menu a {
margin: 20px;
border-radius: 15px;
padding-bottom: 1px;
padding-top: 3px;
}

#menu a:hover {
font-size: large;
}

#slidebanner {
-webkit-animation: fadeIn 2.5s ease-in-out;
-moz-animation: fadeIn 2.5s ease-in-out;
-o-animation: fadeIn 2.5s ease-in-out;
animation: fadeIn 2.5s ease-in-out;
}

#conteudo {
background-color: white;
margin: 150px;
margin-top: 20px;
margin-bottom:  0px;
padding: 20px;
color: rgb(72,56,42);
-webkit-animation: fadeIn 2.5s ease-in-out;
-moz-animation: fadeIn 2.5s ease-in-out;
-o-animation: fadeIn 2.5s ease-in-out;
animation: fadeIn 2.5s ease-in-out;
}

#conteudo p {
margin-right: 20px;
margin-bottom: 10px;
font-family: "Rockwell";
padding-right: 30px;
border: 1px solid black;
-moz-border-radius: 12px; 
-webkit-border-radius: 12px;
border-radius: 12px;
padding: 10px ;
}


#obs {
margin-top: 30px;
border: 2px dotted black;
}

#conteudo ul {
margin-top: 50px;
}

#conteudo li {
margin-left: 300px;
margin-top:5px;
}

#logo {
margin-left:70px;
}

#rss {
margin-top: 5px;
margin-left: 150px;
padding-bottom: 10px;
-webkit-animation: fadeIn 2.5s ease-in-out;
-moz-animation: fadeIn 2.5s ease-in-out;
-o-animation: fadeIn 2.5s ease-in-out;
animation: fadeIn 2.5s ease-in-out;
height: 200px;
}

#conteudo h2 {
margin-top: 30px;
font-family: "Rockwell";
}

#fotofone {
float: left;
border-radius: 15px;
margin-top:15px;
}

#contato {
margin-top: 80px;
height: 100%;
font-family: "Rockwell";
font-weight: bold;
font-size: 25px;
width: 600px;

}
#contatodiv {
background-color: white;
margin: 150px;
margin-top: 5px;
margin-bottom:  0px;
color: rgb(72,56,42);
-webkit-animation: fadeIn 2.5s ease-in-out;
-moz-animation: fadeIn 2.5s ease-in-out;
-o-animation: fadeIn 2.5s ease-in-out;
animation: fadeIn 2.5s ease-in-out;
}

#palestras {
margin-left: 150px;
margin-right: 150px;
padding: 20px;
border: 1px solid black;
font-family: "Rockwell";
color: rgb(72,56,42);
border-radius: 15px;
}

#aulas {
	margin:20px;
margin-left: 150px;
margin-right: 150px;
padding: 20px;
border: 1px solid black;
font-family: "Rockwell";
color: rgb(72,56,42);
border-radius: 15px;
}

#contatodiv.form{
	margin-left: 2000px;
}

.financas {
	display: none;
}
.investimentos {
	display: none;
}
.palestras {
	display: none;
}
#conteudo img.areas{

	margin: 20px;
	border-radius: 15px;
	-webkit-animation: fadeIn 3s ease-in-out;
-moz-animation: fadeIn 3s ease-in-out;
-o-animation: fadeIn 3s ease-in-out;
animation: fadeIn 3s ease-in-out;
}

form {
	width: 800px;
	margin-left: 550px;
	height: 250px;
}
form p{
font-family: "Rockwell";
font-weight: bold;
font-size: large;
	}

a:link {
color: rgb(132,103,59);
}
a:visited{
	 color: rgb(132,103,59);
	}

#telaLogin {
margin: 80px 200px 30px 500px;
}

#sistema {
margin: 80px 200px 30px 450px;
}

#cadastro {
margin: 80px 200px 30px 450px;
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}


.footer {
	position:absolute;
	bottom:0;
	width:100%;
	margin-top: 10px;
	background: black;
	font-size: x-small;
	padding: 3px;
	padding-left: 20px;
	color: white;
	font-family: "Lucida Handwriting";
	font-weight: normal;

}